
.register-container, .login-container {
    width: 100%;
    max-width: 450px;
    margin: 60px auto;
    background-color: #fff; 
    padding: 40px;
    border-radius: 16px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); 
    border: 1px solid #e0e0e0; 
}


h2 {
    font-family: 'Playfair Display', serif; 
    font-size: 36px;
    color: #333; 
    text-align: center;
    margin-bottom: 40px; 
    font-weight: 600;
    letter-spacing: 1px; 
}


.form-group {
    margin-bottom: 30px; 
}

.form-group label {
    font-size: 15px;
    color: #555;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase; 
    letter-spacing: 1px; 
}

.form-group input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #dcdcdc; 
    border-radius: 10px; 
    outline: none;
    background-color: #f9f9f9; 
    color: #333; 
    transition: all 0.3s ease-in-out; 
}

.form-group input:focus {
    border-color: #000; 
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


.register-btn, .login-btn {
    width: 100%;
    padding: 18px;
    background-color: #000; 
    color: #fff; 
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.register-btn:hover, .login-btn:hover {
    background-color: #333; 
    transform: translateY(-2px); 
}


.register-container a, .login-container a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #555; 
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase; 
    letter-spacing: 1px;
}

.register-container a:hover, .login-container a:hover {
    color: #000; 
    text-decoration: underline; 
}
