.up-chevron-icon{
    color: white;
    background-color:#592B2A ;
    font-weight: bold;
    padding: 4px 6px;
    font-size: 39px;
    position: fixed;
    right: 28px;
    bottom: 0;
    transition: 0.3s;
    z-index: 999999999999999999999999999999999999999999999999999999999999999;
    border-radius: 51%;
}